.jumbotron {
    border-radius: 0;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

#gol-banner {
    background: rgb(101,212,230);
    background: linear-gradient(151deg, rgba(101,212,230,1) 0%, rgba(26,137,179,1) 33%, rgba(60,94,199,1) 51%, rgba(201,0,255,1) 89%);
    margin: 0;
}

#gol-settings {
    background-color: #252525;
}

#gol-settings h2{
    color: #FFFFFF;
}

#gol-gamefield {
    background-color: #383838;
    padding-top: 20px;
    text-align: center;
}

#gol-gamefield h2{
    color: #FFFFFF;
}

#gol-canvas {
    border: 1px solid rgb(77, 77, 77);
    border-radius: 3px;
}

.setting h3 {
    display: inline;
    color: lightgray;
    padding-right: 15px;
}


