<div id="gol-banner" class="jumbotron">
  <div class="row">
    <div class="col-lg-8">
      <h1>The Game of Life!</h1>
      <p>Just watch it happen.</p>
    </div>
    <div class="col-lg-4">
      <input id="start-simulation" class="btn btn-outline-dark btn-lg" type="button" value="Play">
    </div>
  </div>
</div>


<div class="container-fluid row">

  <div id="gol-settings" class="col-lg-3">
    <h2>Settings</h2>
    <hr>

    <div class="setting">
      <h3>Cell Color</h3>
      <input type="color" id="favcolor" name="favcolor" value="#ff0000">
    </div>

  </div>

  <div id="gol-gamefield" class="col-lg-9">
    
    <canvas id="gol-canvas" width="800" height="800"></canvas>

  </div>
</div>

<footer>
  &copy; 2020 Ronny Falconeri
</footer>

